@{
    ViewData["Title"] = "Home Page";
}
<!-- Website home page -->
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<!--  content -->
<div class="text-center">
    <!-- Logo  -->
    <a href="/Home/Index">
        <img src="/images/Logo.png">
    </a>
    <h1 class="display-4">Welcome</h1>
    <p> Welcome to the Employee payroll web app! Use the navigation bar above to view or make changes to your employees or their payroll.</p>
</div>
